 *{
            margin:0px;
            padding:0px;
        }
        .box1 {
            background-color: #ccc;
            width: 400px;
            height: 200px;
            margin: 100px auto 0 auto;
            overflow: hidden;
            position: relative;
        }
            .box1 div {
                background-color: yellow;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                position: absolute;
                
            }
            .box1 .div1 {
                top: -50px;
                left: -50px;
                
            }
        .box1 .div2{
            bottom:-50px;
            right:-50px;
        }