		p {
            font-family :Î¢ÈíÑÅºÚ;
        }
        .txt {
            float: left;
            margin-top: -37px;
            margin-left: 125px;
        }
        .passw {
            float: left;
            margin-top: -53px;
            margin-left: 390px;
        }