       *{
           margin:0;
          
       }
       div {
           border: 1px solid #999;
           padding: 20px;
           background-color:#ffffff;
           
       }
       img {
           width: 80px;
           height: 80px;
       }
       .box{
           min-width:600px;
           overflow:auto;
           
           height:800px;
           clear:both;
           
           background-color:#eee;
       }
       .box .box_left{
           padding:20px;
           width:200px;
           
           float:left;
       }
       
      .box .box_left div{
          border:none;
          float:right;
      }      
      .box .box_middle {
               margin-right: 250px;
               margin-left: 350px;
      }
           .box .box_right {
               width: 120px;
               text-align: center;
               float: right;
           }
      .box .box_right img{
          margin-top:10px ;
          
          
      }